[Unit]
Description=Slapshot

[Service]
Type=simple
WorkingDirectory=/home/john/slapshot/packages/server
ExecStart=yarn start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

